<% @cart.party_items.sort_by { |k, v| Cart::ALL_OPTIONS.keys.index(k) }.each do |item, info| %>
  <p><%= t("telegram_webhooks.options.#{item}", price: info['price'], count: info['count']) %></p>
<% end %>
 <p><%= t('telegram_webhooks.cart_total', total: @cart.party_total) %></p>

